---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="So... who am I?"
  description="About Me"
  pubDate={new Date("May 30 2025")}
  heroImage="/about.jpeg"
>
  <p>
    I took my first programming class in high school, but I began my coding
    journey by making dress-up games using Scratch in elementary school. I
    specialize in full-stack development with experience building dynamic,
    user-friendly applications with React, Bootstrap, and Tailwind. Both in and
    out of the classroom, I strive to learn new programming concepts and bring
    my ideas to life.
  </p>

  <h3>Education</h3>
  <ul>
    <li>Attending: University of Maryland, College Park (UMD)</li>
    <li>Major: Computer Science</li>
    <li>Year: Rising junior</li>
    <li>Previously attended: Marriotts Ridge High School</li>
    <li>
      Programs: UMD Honors College (Design Cultures and Creativity Living
      Learning Program), QUEST Honors Program
    </li>
    <li>
      Academic Awards: National Merit Scholarship Finalist, UMD Dean's
      Scholarship recipient, Dean's List (Spring 2024), AP Scholar with
      Distinction
    </li>
  </ul>

  <h3>Some things I do outside of coding</h3>
  <ul>
    <li>Create digital art and animations</li>
    <li>Learn new songs on the piano</li>
    <li>Listen to video essays (usually on books, movies, and video games)</li>
    <li>Drink matcha + red bean boba</li>
    <li>Play badminton</li>
  </ul>
</Layout>
