---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="So... who am I?"
  description="About Me"
  pubDate={new Date("May 30 2025")}
  heroImage="/about.jpeg"
>
  <p>
    My coding journey began when I started creating dress-up games for fun using
    Scratch in elementary school. I self-studied website development in middle
    school, and after taking a year to realize engineering wasn't for me, I took
    my first coding class in my sophomore year of high school: Principles of
    Java. Since then, I've studied object-oriented programming in Java, C, C++,
    and Python. I specialize in web and app development, and I've worked with
    HTML, CSS, Python Flask, JavaScript, and frameworks such as Bootstrap. Both
    in and out of the classroom, I strive to learn new programming concepts and
    bring my ideas to life.
  </p>

  <h3>Education</h3>
  <ul>
    <li>Attending: University of Maryland, College Park (UMD)</li>
    <li>Major: Computer Science</li>
    <li>Year: Rising junior</li>
    <li>Previously attended: Marriotts Ridge High School</li>
    <li>
      Programs: UMD Honors College (Design Cultures and Creativity Living
      Learning Program), QUEST Honors Program
    </li>
    <li>
      Academic Awards: National Merit Scholarship Finalist, UMD Dean's
      Scholarship recipient, Dean's List (Spring 2024), AP Scholar with
      Distinction
    </li>
  </ul>

  <h3>Things I do outside of coding</h3>
  <ul>
    <li>Create digital art and animations</li>
    <li>Learn new songs on the piano</li>
    <li>Listen to video essays (usually on books, movies, and video games)</li>
    <li>Drink matcha + red bean boba</li>
    <li>Play badminton</li>
  </ul>
</Layout>
