---
import "../styles/global.css";
---

<div>
  <p>Tag</p>
</div>

<style>
  div {
    padding: 0.5rem 1rem;
    background-color: var(--gray);
    border-radius: 5px;
    font-family: "Overpass Mono", monospace;
    color: var(--black);
    text-align: center;
    align-items: center;
    display: inline-block;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 15px;
  }
</style>
